@font-face {
    font-family: 'Open Sans';
    src: url(/assets/fonts/OpenSans-Regular.ttf);
}

*{
    box-sizing: border-box;
}

header {font-family: "Open Sans"; color: black ; font-size: xx-large; }

left-div {
    float: left;
    padding : 1%;
}

middle-div {
    float: left;
    padding: 1%;
}