@font-face {
    font-family: 'Open Sans';
    src: url(/assets/fonts/OpenSans-Regular.ttf);
}

header {font-family: "Open Sans"; color: black ; font-size: xx-large; }

.left-div {
    float: left;
    width: 50%;
}

.right-div {
    float: right;
    width: 50%;
}
